################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PhoenixRunner
/PhoenixRunner/bin/Debug/net8.0
/PhoenixRunner/obj/Debug/net8.0
/PhoenixRunnerUnitTests/bin/Debug/net8.0
*.dll
/PhoenixRunnerUnitTests/obj/Debug/net8.0
/PhoenixRunner/obj/Debug/netcoreapp3.1/PhoenixRunner.AssemblyInfo.cs
/PhoenixRunner/obj/Debug/netcoreapp3.1/PhoenixRunner.AssemblyInfoInputs.cache
/PhoenixRunner/obj/Debug/netcoreapp3.1/PhoenixRunner.assets.cache
/PhoenixRunner/obj/Debug/netcoreapp3.1/PhoenixRunner.csproj.AssemblyReference.cache
/PhoenixRunner/obj/Debug/netcoreapp3.1/PhoenixRunner.GeneratedMSBuildEditorConfig.editorconfig
/PhoenixRunner/obj/PhoenixRunner.csproj.nuget.dgspec.json
/PhoenixRunner/obj/PhoenixRunner.csproj.nuget.g.props
/PhoenixRunner/obj/PhoenixRunner.csproj.nuget.g.targets
/PhoenixRunner/obj/project.assets.json
/PhoenixRunner/obj/project.nuget.cache
/PhoenixRunnerUnitTests/obj/Debug/netcoreapp3.1/PhoenixRunnerUnitTests.AssemblyInfo.cs
/PhoenixRunnerUnitTests/obj/Debug/netcoreapp3.1/PhoenixRunnerUnitTests.AssemblyInfoInputs.cache
/PhoenixRunnerUnitTests/obj/Debug/netcoreapp3.1/PhoenixRunnerUnitTests.assets.cache
/PhoenixRunnerUnitTests/obj/Debug/netcoreapp3.1/PhoenixRunnerUnitTests.csproj.AssemblyReference.cache
/PhoenixRunnerUnitTests/obj/Debug/netcoreapp3.1/PhoenixRunnerUnitTests.GeneratedMSBuildEditorConfig.editorconfig
/PhoenixRunnerUnitTests/obj/PhoenixRunnerUnitTests.csproj.nuget.dgspec.json
/PhoenixRunnerUnitTests/obj/PhoenixRunnerUnitTests.csproj.nuget.g.props
/PhoenixRunnerUnitTests/obj/PhoenixRunnerUnitTests.csproj.nuget.g.targets
/PhoenixRunnerUnitTests/obj/project.assets.json
/PhoenixRunnerUnitTests/obj/project.nuget.cache
